{
  "root": true,
  "extends": [
    "simenb-base",
    "simenb-node",
    "simenb-jsdoc"
  ],
  "rules": {
    // TODO: Enable after figurig out what to do woth comments
    "brace-style": "off",
    // TODO: enable after getting rid of stampit (https://github.com/SimenB/stylint/issues/359)
    // Will use arrow functions then
    "func-names": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }]
  }
}
