{
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"brace-style": [2,
			"stroustrup", {
				"allowSingleLine": true
			}
		],
		"camelcase": 1,
		"comma-dangle": 1,
		"comma-spacing": [1, {
			"before": false,
			"after": true
		}],
		"comma-style": [2, "last"],
		"consistent-return": 0,
		"curly": 1,
		"default-case": 1,
		"eol-last": 1,
		"eqeqeq": 1,
		"generator-star-spacing": 1,
		"guard-for-in": 1,
		"indent": [2, "tab"],
		"key-spacing": 1,
		"max-nested-callbacks": 0,
		"no-constant-condition": 1,
		"no-control-regex": 1,
		"new-parens": 1,
		"no-alert": 1,
		"no-array-constructor": 1,
		"no-caller": 1,
		"no-catch-shadow": 1,
		"no-cond-assign": 1,
		"no-delete-var": 1,
		"no-dupe-args": 1,
		"no-dupe-keys": 1,
		"no-else-return": 1,
		"no-empty": 1,
		"no-empty-label": 1,
		"no-eq-null": 1,
		"no-eval": 1,
		"no-ex-assign": 1,
		"no-extend-native": 1,
		"no-extra-bind": 1,
		"no-extra-boolean-cast": 1,
		"no-extra-parens": 1,
		"no-extra-semi": 1,
		"no-fallthrough": 1,
		"no-floating-decimal": 1,
		"no-func-assign": 1,
		"no-implied-eval": 1,
		"no-inner-declarations": 1,
		"no-invalid-regexp": 1,
		"no-irregular-whitespace": 1,
		"no-label-var": 1,
		"no-labels": 1,
		"no-lone-blocks": 1,
		"no-loop-func": 1,
		"no-mixed-spaces-and-tabs": 1,
		"no-multi-spaces": 1,
		"no-multi-str": 1,
		"no-native-reassign": 1,
		"no-negated-in-lhs": 1,
		"no-nested-ternary": 1,
		"no-new": 1,
		"no-new-func": 1,
		"no-new-object": 1,
		"no-new-wrappers": 1,
		"no-obj-calls": 1,
		"no-octal": 1,
		"no-octal-escape": 1,
		"no-proto": 1,
		"no-redeclare": 1,
		"no-regex-spaces": 1,
		"no-return-assign": 1,
		"no-script-url": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-shadow-restricted-names": 1,
		"no-spaced-func": 1,
		"no-sparse-arrays": 1,
		"no-trailing-spaces": [2, {
			"skipBlankLines": true
		}],
		"no-undef": 1,
		"no-undef-init": 1,
		"no-undefined": 1,
		"no-underscore-dangle": 0,
		"no-unreachable": 1,
		"no-unused-expressions": 1,
		"no-unused-vars": 1,
		"no-use-before-define": 1,
		"no-void": 1,
		"no-warning-comments": 1,
		"no-with": 1,
		"one-var": [2, "never"],
		"operator-assignment": 1,
		"padded-blocks": 0,
		"quote-props": 0,
		"quotes": [2, "single", "avoid-escape"],
		"radix": 1,
		"semi": [2, "never"],
		"sort-vars": 1,
		"space-before-function-paren": [1, "never"],
		"space-after-keywords": 1,
		"space-before-blocks": 1,
		"space-in-brackets": 0,
		"space-in-parens": [2, "always"],
		"space-infix-ops": 1,
		"space-return-throw-case": 1,
		"space-unary-ops": 1,
		"use-isnan": 1,
		"valid-jsdoc": 1,
		"valid-typeof": 1,
		"vars-on-top": 0,
		"wrap-iife": [2, "inside"],
		"yoda": [2, "never"],
		"handle-callback-err": 1,
		"no-mixed-requires": 0,
		"no-new-require": 1,
		"no-sync": 0,
		"no-process-exit": 0
	}
}
