{
  "root": true,
  "extends": [
    "simenb-base",
    "simenb-node",
    "simenb-jsdoc"
  ],
  "rules": {
    // Will use arrow functions then
    "func-names": "off",
    // We support node@4
    "prefer-destructuring": "off"
  },
  "overrides": [{
    "files": "test/**",
    "env": {
      "jest": true
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    }
  }, {
    "files": ["src/checks/**", "src/state/**"],
    "rules": {
      // TODO: Remove after checks return better stuff
      // https://github.com/SimenB/stylint/issues/356
      "consistent-return": "off"
    }
  }]
}
