.page-x
  div, span        // Warning: missing colon between property and value
    color: $var2
// @stylint off

.test-extend
  @extends $extendable !optional;
  background-image: url( 'http://something.com,something else' )
  content: 'http://something.com*' //testing
  color: #990000
  opacity: 0.8
  border: 0
  color: black; font-family: "why would you's do this"
  seletor:after {
    content: "'"
  }
  &.is-popupVisible
    margin: 0
// @stylint off
*
  margin: 0

:global
  .widget
    box-sizing: border-box
    height: 30px

:local
  .input-text
    border: 1px solid grey-color
    composes: widget
    padding: 5px

  .button
    background-color: brand-color
    border: none
    border-radius: 4px
    color: white
    composes: widget

:global( .clearfix )
  &::after
    clear: both
    content: ''
    display: table

:local( .body )
  margin: 0
  padding: 0
