/**
 * Font face declarations. This will eventually go away
 * @TODO brandon-text and tungsten will need to be in typekit before launch
*/


// diff brandon than whats in typekit
@font-face
	font-family 'brandon-text'
	src url( '../fonts/brandon-text/brandontext-bold-webfont.eot' )
	src url( '../fonts/brandon-text/brandontext-bold-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
	url( '../fonts/brandon-text/brandontext-bold-webfont.woff' ) format( 'woff' ),
	url( '../fonts/brandon-text/brandontext-bold-webfont.ttf' ) format( 'truetype' ),
	url( '../fonts/brandon-text/brandontext-bold-webfont.svg#brandon_textbold' ) format( 'svg' )


// til tungsten is in typekit
// so, this is actually available via typography.com...
@font-face
	font-family 'tungsten'
	src url( '../fonts/tungsten/TungstenRounded-Semibold.eot' )
	src url( '../fonts/tungsten/TungstenRounded-Semibold.eot?#iefix' ) format('embedded-opentype'),
	url( '../fonts/tungsten/TungstenRounded-Semibold.woff' ) format( 'woff' ),
	url( '../fonts/tungsten/TungstenRounded-Semibold.ttf' ) format( 'truetype' ),
	url( '../fonts/tungsten/TungstenRounded-Semibold.svg#TungstenRounded-Semibold' ) format( 'svg' )