/**
 * Search page stylz
*/

// the search field at the top of the card
#search-form
	#s-form
		line-height 59px
		width 100%
		outline none
		box-sizing border-box

	.ui-search
		margin-top 22px
		@media $mob
			margin-top 31px


// what are we currently sorting by?
.sort-by
	color $gray-6