@font-face
  font-family: 'Corpid Heavy'
  src: url($icon-font-path + 'corpidc1s-heavy-webfont.eot')
  src: url($icon-font-path + 'corpidc1s-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url($icon-font-path + 'corpidc1s-heavy-webfont.woff2') format('woff2'),
       url($icon-font-path + 'corpidc1s-heavy-webfont.woff') format('woff'),
       url($icon-font-path + 'corpidc1s-heavy-webfont.ttf') format('truetype'),
       url($icon-font-path + 'corpidc1s-heavy-webfont.svg#CorpidC1sHeavyRegular') format('svg')
  font-style: normal
  font-weight: 500
