// Error pages (404, 500, etc)
// @REPLACE
.error-page

  .ss-binoculars
    color: $color-gray-xxl
    display: block
    font-size: 8em
    line-height: 1
    text-align: center

  .error
    background: $color-gray-xxxxl
    border-bottom: 1px solid $color-gray-xxxl
    border-top: 1px solid $color-gray-xxl
    color: $color-gray-l
    padding: 8ex 0 10ex
    max-width: 75%

    h1
      color: $color-gray-xl
      font-size: 2.1em
      margin-bottom: 1ex
      line-height: 1.2

    p
      font-size: 1.3em
      margin-bottom: 1.5ex

    a
      font-weight: 600

  // @REPLACE
  // h1,
  // .ss-binoculars
  //   @extends $text-shadow-white


