// Site Map

.site-map

  // pagination
  .drug-page-list
    padding: 1em 0 2em
    font-size: 1.4em
    margin-left: 1em

    li
      display: inline
      padding: 0 .2em

    .current-page
      color: $color-gray-l

  //drug list
  .list-group
    padding: 0

  .drug-name
    font-size: 1.3em

  .list-group-item
    border-radius: 0
    border-left: 0
    border-right: 0


//cards
.sitemap-cards
  margin-top: .5em

  li
    display: inline
    padding: 0 10px

    &:first-child
      padding: 0 10px 0 0

  a
    color: $color-gray-l
    text-decoration: underline
