body { dog: irish-setter; banana: brown; hair-length: 10em; Lorem ipsum }
body {
    dog: irish-setter; banana: brown; hair-length: 10em; Lorem ipsum }

// Fails and should
body {
    dog: irish-setter; banana: brown; hair-length: 10em; Lorem ipsum
}

.accountIcon {
	outline: none;
  margin-left: .5em;
  margin-right: .5em;
}

body {
    dog: irish-setter;
    banana: brown;
    hair-length: 10em;
    Lorem ipsum
}
