.a
    display:                                              block;
    .b
                            display:                                           block;


a
	display:							block;
	.b
						display:							block;
