/**
* styl/style.styl -> css/style.css
*
*/

// @FIXME recent round of design and grid changes have made everything a mess

// nibbles
@import 'nib'

// all vars
@import '_vars'

// all extends a-z
@import '_extends'

// all mixins a-z
@import '_mixins'

// all helper classes
@import '_helpers'

// reset and global styles / helper classes a-z
@import '_base'

// ads
@import '_ads'

// cards
@import '_cards'

// flexbox spec
@import '_flexbox'

// other fonts that aren't in typekit yet (tungsten, iconfont)
@import '_fonts'

// forms reset
@import '_gallery'

// grids (home, sections, tags, etc)
@import '_grid'

// global header
@import '_header'

// global header - category stuff
@import '_header-category'

// all nav - base
@import '_nav-base'

// global nav - category stuff
@import '_nav-category'

// global nav / brand bar
@import '_nav-brandbar'

// search
@import '_nav-search'

// headline / byline / featured image above posts
@import '_post-header'

// post content
@import '_post-content'

// post recirc sidebar and social sidebar
@import '_post-sidebars'

// sticky elements
@import '_sticky'

// the typo-grahy
@import '_type'

// our ui elements
@import '_ui'

// search page styles
@import '_search'

// legacy styles
// @TODO move this to a separate stylesheet that is only on pre-phoenix articles
@import '_legacy'