body
    margin 0
    padding 0

img
    display block

[class*='test']
	margin 0 50px 0 50px
	padding 0 0;
	padding 0 5px 0
	padding 5px 0 0
	margin 0 5px 5px 5px
	margin 0 5px 0 5px
	display block
	display none

