
-webkit-line-clamp 1000
-moz-border-radius 50px

fubarCalcFunction( $width, $height ) {
	return ( $width*$height );
}

@keyframes fade
	0%, 100%
		opacity 0
	30%, 70%
		opacity 1

@keyframes falling
	from
		top 0
	to
		top 40px

.foo {
	.bar {
	color: red;
	}
}

.test[attribute]

div[attribute]

$test-string = 'single with "double" inside'

$test-string2 = "double with 'single' inside"

$test-string3 = 'single quote string'

$test-string4 = "double quote string"


// *
// 	something something

// 	*
// 		test

// 	*:before
// 		stuff

/*
*
* comment
*
*/

.start
	margin 0

.test
	z-index 999
	padding 0
	margin-bottom 10px
	border 1px solid black
	margin-top 0
	margin-bottom 5px

.test
	z-index 9

.test
		z-index 7

.test
		z-index 7

.test
	z-index 7

.className {
	margin 0 auto
}
