@require '../singles/**/*'
@require '*'

*::selection
	background blue

div *
	text-transform uppercase

.margin
	margin unit( 5 * 5, 'px' )

.padding
	padding unit( 5*5, 'px' )

// nibbles
@require 'nib/overflow' // handy aliases
@require 'nib/positions' // handy aliases
@require 'nib/reset' // reset and normalize
@require 'nib/size' // handy aliases

@require '../core/_vars'
@require '../core/_extends'
@require '../core/_mixins'
@require '../core/_base'
@require '../core/_type'
@require '../core/_cards'
@require '../core/_footer'

// ads and consumer marketing
@require '../ads/**/*'

// flexbox spec
@require '../grid/**/*'

// global header
@require '../header/**/*'

// our many helper classes (hide / show, padding/margin, etc)
@require '../helpers/**/*'

// grids (home, sections, tags, etc)
@require '../sections/**/*'

// styles for articles, post-header is inlined
@require '../singles/**/*'

// search page styles, legacy posts, etc
@require '../misc/_search'
@require '../misc/_wp'

// navigation
@require '../navigation/**/*'

// our ui elements
@require '../ui/_icons'
@require '../ui/_ui-base'
@require '../ui/_ui-relative'
@require '../ui/_ui-misc'
@require '../ui/_ui-reviews'
@require '../ui/_ui-singles'
@require '../ui/_ui-social'
